<%- include("partials/header.ejs") -%>

    <div class="text-center authBody">
        <main class="form-signin">
            <form action="/signin" method="POST">
                <h1 class="h3 mb-3 fw-normal">SIGN IN</h1>

                <div class="form-floating">
                    <input type="email" class="form-control" name="username" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>

                <div class="checkbox mb-3">
                    <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary signupButton" type="submit">Sign in</button>
                <div class="error">
                    <p>
                        <%= messages.error %>
                    </p>
                </div>
                <div class="switch">
                    <a href="/signup">Don't have an account? Click Here</a>
                </div>
                <div>
                    <p>-----OR-----</p>
                    <a type="button" href="/auth/google/" class=" text-center w-100 btn btn-social btn-lg google"><span><img src="../assets/google.png"></span>Continue with Google</a>
                </div>
            </form>
        </main>
    </div>

    <%- include("partials/footer.ejs") -%>