<%- include("partials/header/header.ejs") -%>

    <div class="text-center authBody">
        <main class="form-signin">
            <form action="/signup" method="POST">
                <h1 class="h3 mb-3 fw-normal">SIGN UP</h1>
                <div class="form-floating">
                    <input type="text" name="firstName" class="form-control" id="floatingFirstName" placeholder="First Name">
                    <label for="floatingFirstName">First Name</label>
                </div>
                <div class="form-floating">
                    <input type="text" name="secondName" class="form-control" id="floatingSecondName" placeholder="Second Name">
                    <label for="floatingSecondName">Second Name</label>
                </div>
                <div class="form-floating">
                    <input type="email" name="username" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary signupButton" type="submit">Sign Up</button>
                <div>
                    <p>-----OR-----</p>
                    <a type="button" href="/auth/google/" class=" text-center w-100 btn btn-social btn-lg google"><span><img src="../assets/google.png"></span>Continue with Google</a>
                </div>
                <div class="switch">
                    <a href="/signin">Already have an account? Click Here</a>
                </div>
            </form>
        </main>
    </div>
    <%- include("partials/footer.ejs") -%>