<%- include("partials/header.ejs") -%>

    <body class="text-center">

        <main class="form-signin">
            <form action="/signup" method="POST">
                <img class="mb-4" src="https://media.wired.com/photos/5c9040ee4950d24718d6da99/master/w_2560%2Cc_limit/shoppingcart-1066110386.jpg" alt="" width="72" height="57">
                <h1 class="h3 mb-3 fw-normal">Sign Up</h1>
                <div class="form-floating">
                    <input type="text" name="firstName" class="form-control" id="floatingFirstName" placeholder="First Name">
                    <label for="floatingFirstName">First Name</label>
                </div>
                <div class="form-floating">
                    <input type="text" name="secondName" class="form-control" id="floatingSecondName" placeholder="Second Name">
                    <label for="floatingSecondName">Second Name</label>
                </div>
                <div class="form-floating">
                    <input type="email" name="username" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
                <div class="switch">
                    <a href="/signin">Already have an account? Click Here</a>
                </div>
                <p class="mt-5 mb-3 text-muted">&copy; 2021 Hemin Maru</p>
            </form>
        </main>
        <%- include("partials/footer.ejs") -%>